nav{
    display: flex;
    background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.65) ), url('../assets/background.jpg');
    background-position: 10% 25%;
    background-size: cover;
    height: 208px;
    justify-content: space-around;
    align-items: center;
}

h1{
    color: #FFFFFF;
    font-size: 2.6rem;
}

a{
    font-size: 0.875rem;
    text-decoration: none;
    cursor: pointer;
}